/venv
/.idea/
/.vscode
/**/.DS_Store
/**/__pycache__
/notebooks/00-basemodel/atari-dqn/fom-openai-gym-rl/
/notebooks/00-basemodel/atari-dqn/latest
/notebooks/00-basemodel/atari-dqn/output/*.log
/notebooks/00-basemodel/atari-dqn/output/**/*.pickle
/notebooks/00-basemodel/atari-dqn/output/**/*.csv
/notebooks/00-basemodel/atari-dqn/output/**/*.txt
/notebooks/00-basemodel/atari-dqn/output/**/*.png
/notebooks/00-basemodel/atari-dqn/output/**/*.gif
/notebooks/00-basemodel/atari-dqn/output/**/*.zip
/notebooks/00-basemodel/atari-dqn/output/latest
/notebooks/00-basemodel/atari-rainbow-dqn/latest
/notebooks/00-basemodel/atari-rainbow-dqn/output/*.log
/notebooks/00-basemodel/atari-rainbow-dqn/output/**/*.pickle
/notebooks/00-basemodel/atari-rainbow-dqn/output/**/*.csv
/notebooks/00-basemodel/atari-rainbow-dqn/output/**/*.txt
/notebooks/00-basemodel/atari-rainbow-dqn/output/**/*.png
/notebooks/00-basemodel/atari-rainbow-dqn/output/**/*.gif
/notebooks/00-basemodel/atari-rainbow-dqn/output/**/*.zip
/notebooks/00-basemodel/atari-rainbow-dqn/output/latest
